:root {
	--vip-tooltip-box-distance: 4px;
	--vip-tooltip-color: var(--theme-ui-colors-texts-inverse);
	--vip-tooltip-bg-color: var(--theme-ui-colors-layer-inverse);
	--vip-tooltip-font-size: 12px;
	--vip-tooltip-font-weight: 400;
	--vip-tooltip-border-radius: 4px;
	--vip-tooltip-horizontal-padding: 8px;
	--vip-tooltip-vertical-padding: 4px;
	--vip-tooltip-max-width: 210px;

	--vip-tooltip-arrow-vertical-padding: 12px; /* creates an invisible area so the mouse can move from the trigger to the tooltip */
	--vip-tooltip-arrow-horizontal-padding: 50%; /* creates an invisible area so the mouse can move from the trigger to the tooltip */
}

[data-vip-tooltip] {
	--vip-tooltip-arrow-opacity: 0;
	--vip-tooltip-arrow-visible-border: var(--vip-tooltip-box-distance) solid var(--vip-tooltip-bg-color);
	--vip-tooltip-arrow-invisible-border: min(calc(var(--vip-tooltip-box-distance) - 2px), 10px) solid transparent;

	position: relative;
	cursor: help;
  }

  [data-vip-tooltip][data-vip-tooltip-arrow="true"] {
	--vip-tooltip-box-distance: 8px;

	--vip-tooltip-arrow-vertical-padding: 0;
	--vip-tooltip-arrow-horizontal-padding: 0;
	--vip-tooltip-arrow-opacity: 1;
  }

  [data-vip-tooltip]::before,
  [data-vip-tooltip]::after {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s ease-in-out;
	cursor: default;
  }

  [data-vip-tooltip]:focus-within::before,
  [data-vip-tooltip]:hover::before {
	opacity: 1;
	visibility: visible;
  }

  [data-vip-tooltip]:focus-within::after,
  [data-vip-tooltip]:hover::after {
	opacity: var(--vip-tooltip-arrow-opacity);
	visibility: visible;
  }

  [data-vip-tooltip]::before {
	content: attr(data-vip-tooltip);
	z-index: 9999;
	width: max-content;
	max-width: var(--vip-tooltip-max-width);
	color: var(--vip-tooltip-color);
	background: var(--vip-tooltip-bg-color);
	font-size: var(--vip-tooltip-font-size);
	font-weight: var(--vip-tooltip-font-weight);
	border-radius: var(--vip-tooltip-border-radius);
	padding: var(--vip-tooltip-vertical-padding) var(--vip-tooltip-horizontal-padding);
  }

  [data-vip-tooltip]::after {
	content: "";
	width: 0;
	height: 0;
  }

  [data-vip-tooltip][data-vip-tooltip-position="top"]::before,
  [data-vip-tooltip][data-vip-tooltip-position="top"]::after {
	bottom: 100%;
	left: 50%;
	transform: translate(-50%);
  }

  [data-vip-tooltip][data-vip-tooltip-position="top"]::before {
	margin-bottom: var(--vip-tooltip-box-distance);
  }

  [data-vip-tooltip][data-vip-tooltip-position="top"]::after {
	border-left: var(--vip-tooltip-arrow-invisible-border);
	border-right: var(--vip-tooltip-arrow-invisible-border);
	border-top: var(--vip-tooltip-arrow-visible-border);
	padding: 0 var(--vip-tooltip-arrow-horizontal-padding);
  }

  [data-vip-tooltip][data-vip-tooltip-position="bottom"]::before,
  [data-vip-tooltip][data-vip-tooltip-position="bottom"]::after {
	top: 100%;
	left: 50%;
	transform: translate(-50%);
  }

  [data-vip-tooltip][data-vip-tooltip-position="bottom"]::before {
	margin-top: var(--vip-tooltip-box-distance);
  }

  [data-vip-tooltip][data-vip-tooltip-position="bottom"]::after {
	border-left: var(--vip-tooltip-arrow-invisible-border);
	border-right: var(--vip-tooltip-arrow-invisible-border);
	border-bottom: var(--vip-tooltip-arrow-visible-border);
	padding: 0 var(--vip-tooltip-arrow-horizontal-padding);
  }

  [data-vip-tooltip][data-vip-tooltip-position="right"]::before,
  [data-vip-tooltip][data-vip-tooltip-position="right"]::after {
	top: 50%;
	left: 100%;
	transform: translate(0, -50%);
  }

  [data-vip-tooltip][data-vip-tooltip-position="right"]::before {
	margin-left: var(--vip-tooltip-box-distance);
  }

  [data-vip-tooltip][data-vip-tooltip-position="right"]::after {
	border-top: var(--vip-tooltip-arrow-invisible-border);
	border-right: var(--vip-tooltip-arrow-visible-border);
	border-bottom: var(--vip-tooltip-arrow-invisible-border);
	padding: var(--vip-tooltip-arrow-vertical-padding) 0;
  }

  [data-vip-tooltip][data-vip-tooltip-position="left"]::before,
  [data-vip-tooltip][data-vip-tooltip-position="left"]::after {
	top: 50%;
	right: 100%;
	transform: translate(0, -50%);
  }

  [data-vip-tooltip][data-vip-tooltip-position="left"]::before {
	margin-right: var(--vip-tooltip-box-distance);
  }

  [data-vip-tooltip][data-vip-tooltip-position="left"]::after {
	border-top: var(--vip-tooltip-arrow-invisible-border);
	border-left: var(--vip-tooltip-arrow-visible-border);
	border-bottom: var(--vip-tooltip-arrow-invisible-border);
	padding: var(--vip-tooltip-arrow-vertical-padding) 0;
  }
