@layer blocks {
	.console {
		background-color: var(--console-background);
		border-radius: var(--radius-container);
		padding: var(--space-5);
		overflow: auto;
	}

	.console__output {
		font-family: var(--font-family-monospace);
		font-size: var(--font-size-2);
		line-height: var(--line-height-5);
		letter-spacing: var(--letter-spacing-none);
		color: var(--console-text-primary);
		white-space: pre-wrap;
		word-break: break-all;
	}

	.console__timestamp {
		color: var(--console-text-secondary);
	}
}
