@layer blocks {
	.logs {
		background-color: var(--logs-background);
		border-radius: var(--border-radius-2);
		padding: var(--space-5);
		overflow: auto;
	}

	.logs__output {
		font-family: var(--font-family-monospace);
		font-size: var(--font-size-2);
		line-height: var(--line-height-5);
		letter-spacing: var(--letter-spacing-none);
		color: var(--logs-text-primary);
		white-space: pre-wrap;
		word-break: break-all;
	}

	.logs__timestamp {
		color: var(--logs-text-secondary);
	}
}
